<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h1>Welcome</h1>

    <div class="home-info">

        <div class="info-box">
            <div class="label">Username</div>
            <div class="value" th:text="${user.username}"></div>
        </div>

        <div class="info-box">
            <div class="label">Nama</div>
            <div class="value" th:text="${profile.nama}"></div>
        </div>

        <div class="info-box">
            <div class="label">Alamat</div>
            <div class="value" th:text="${profile.alamat}"></div>
        </div>

    </div>

    <a class="logout-btn" th:href="@{/logout}">
        Logout
    </a>

</div>

</body>
</html>